# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore IDE-specific files and directories
.vscode/
.idea/

# Ignore temporary files
*.tmp

# Ignore sensitive files
config.js
credentials.json

# Ignore built files
dist/
build/

# Ignore environment-specific files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local